* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #deeafe;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

section {
  display: flex;
  align-items: center;
}
.box {
  width: 150px;
  height: 150px;
  background-color: #3a78ef;
  border-radius: 10px;
  line-height: 150px;
  color: #fff;
  text-align: center;
  font-size: 25px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
button {
  background: none;
  border: none;
}
i {
  margin: 50px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s;
  color: #3a78ef;
}
i:hover {
  color: #000;
}
